body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1060px;
    margin: auto;
    font-family: 'Lucida Sans Unicode';
    list-style: none;
}

header{
    padding: 0;
    margin: 0;
    background: #1E1E24;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.navbar_section{
    display: flex;
    align-items: center;
}

.navbar_item{
    padding: 10px 15px;
    font-size: 12px;
    line-height: 30px;
    transition: .3s;
    list-style: none;
}

.navbar_item a{
    color: #F7EBE8;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar_item:hover{
    background-color: #444140;
    cursor: pointer;
    color: #FFF;
}

.table{
    max-width: 900px;
    width: 100%;
    margin: auto;
}

table td{
    padding: 12px 16px;
    margin: auto auto;
    text-align: center;
}

.avatar{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.persons{
    margin-top: 50px;
}

#logout{
    visibility: hidden;
}

.button{
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    margin: 7px 15px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #524f4e;
    background: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
}

.button:hover{
    background: #FFA987;
    color: white;
}

.form{
    max-width: 500px;
    max-height 500px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.mt{
    margin-top: 50px;
}

